%h1.center Homepage
%h2 Five most recent terms
%ul.grey
  -@lastfive.each do |term|
    %li
      %a(href = "/terms/#{term.id}")
        =term.name
%p.link
  %a(href = "/terms")
    List of terms
%p.link
  %a(href = "/terms/new")
    Enter a new term
%p.link
  %a(href = "/categories")
    List of categories
%p.link
  %a(href = "/categories/new")
    Enter a new category
