!!!
%head
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
%link{ :href => "/css/style.css", :rel => "stylesheet" }
  %body
    .header-wrap
      .nav-bar
        %a(href="/")
          %img(src="/TIYlogo.svg" height="100px")
    .main
      =yield
