%h1 Enter a New Term
%form(action="/term" method="post")
  %ul
    %li
      %label name
    %li
      %textarea(rows="1" cols="50")
    %li
      %label definition
    %li
      %textarea(rows="3" cols="50")
    %li
      %label author
    %li
      %textarea(rows="1" cols="50")
    %li
      %label web_link
    %li
      %textarea(rows="1" cols="50")
    %li
      %label category_id
    %li
      %textarea(rows="1" cols="50")
  %input(type="submit")
